{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all"
}
