language: node_js
node_js:
  - "14"
cache: yarn
jobs:
  include:
    - stage: test
      script:
        - rm -rf node_modules
        - yarn install --frozen-lockfile
        - yarn test
stages:
  - name: test
    if: type = push
